<nav class="sidebar sidebar-offcanvas mt-5" id="sidebar">
  <ul class="nav" *ngIf="ifAdmin">
    <li class="nav-item">
      <a class="nav-link" href="/accueil">
        <i class="typcn typcn-home-outline icon-sm"></i>
        <span class="menu-title ml-1">{{ 'menu.accueil' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/items" >
        <i class=" typcn typcn-zoom-outline icon-sm"></i>
        <span class="menu-title ml-1">{{ 'menu.rechercher' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/items/add" >
        <i class="typcn typcn-folder-add icon-sm"></i>
        <span class="menu-title ml-1"> {{ 'menu.add-items' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-lightbulb icon-sm"></i>
        <span class="menu-title"> {{ 'menu.outils' | translate}}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/collection">{{ 'menu.collections' | translate}}</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
