<div class="container-fluid">
  <div class="row bg-white mr-5 ml-5 p-5 mt-2" >
    <div class="container  text-center mt-2">
      <img src="assets/images/udem-logo-bib.png" alt="Logo de bibUdem" class="img-responsive m-3">
      <div class="text-right">
        <small class="text-primary text-uppercase">{{this.nom}} {{this.prenom}} | </small>
        <small class="text-primary">{{this.userConnect}} </small><br><br>
        <small class="text-black"><a href="https://bib.umontreal.ca/" onclick="clearRedirectUrl()">{{ 'not-user-lien' | translate}}</a></small>
      </div>
      <h1 class="mt-5 f-32">COLLECTIONS SPÉCIALES</h1>
    </div>
    <div   class="card ml-5 mr-5 mt-1" *ngIf="listeItems!=0">
      <div class="card-body p-5 m-5" >
        <h4 class="card-title mb-2">{{'fichier.files-titre-recuperation'| translate}}</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="w-50 ">{{'nom'| translate}}</th>
              <th class="w-20 ">{{'auteur'| translate}}</th>
              <th >{{'dateExpiration'| translate}}</th>
              <th >{{'statut'| translate}}</th>
              <th >{{'btn.actions'| translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listeItems">
                <td>{{ item.titre }}</td>
                <td>{{ item.auteur }}</td>
                <td>{{ item.dateExpiration }}</td>
                <td>
                  <label
                    *ngIf="item.statut === 'Inactif'; else actifStatus"
                    class="badge badge-danger p-2"
                  >
                    {{ item.statut }}
                  </label>
                  <ng-template #actifStatus>
                    <label class="badge badge-success p-2">{{ item.statut }}</label>
                  </ng-template>
                </td>
                <td *ngIf="validerLesInfosItem(item.dateExpiration, item.idPanier)">
                  <button class="btn btn-sm" (click)="download(item.file, item.URL)">
                    {{ 'fichier.file-telecharger' | translate }}
                  </button>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div  class="alert alert-warning mt-3"  id="alertNotUser"  role="alert">
      <h2>{{'fichier.files-titre-recuperation'| translate}}</h2>
      <p>{{'fichier.explication'| translate}}</p>
      <p>{{'fichier.explication-details'| translate}}</p>
    </div>
  </div>
</div>
